/* Background ----------------------------------------------------------------------------------------------------------------------------------------------------------*/
.about-title-blob {
  position: absolute;
  left: 10%;
  top: 30%;
  width: 400px;
  z-index: -2;
  filter: blur(2rem);
  fill: url(#my-cool-gradient) #18d2d2;
  ;
  --amount: 5;
  --time: 40s;
}

.about-blob {
  position: absolute;
  right: 0rem;
  top: -40%;
  width: 1050px;
  z-index: -1;
  filter: blur(10rem);
  fill: url(#my-cool-gradient);
  --amount: 5;
  --time: 30s;
  opacity: 0.4;
  animation: slide-up 0.5s ease-out 5s;
}

.tk-blob {
  animation: slide-up 0.7s ease-out;
}

.bg-wrap {
  position: absolute;
  inset: 0;
  display: flex;
  place-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -99999;
}

.gradient {
  position: absolute;
  right: 10%;
  --size: 550px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(#0eacf6, #fd60c0);
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  z-index: -99999;
}


.contact-title-blob {
  position: absolute;
  left: 10%;
  top: 30%;
  width: 400px;
  z-index: -2;
  filter: blur(2rem);
  fill: url(#my-cool-gradient3) #18d2d2;
  ;
  --amount: 5;
  --time: 40s;
}

.contact-blob {
  position: absolute;
  right: 27%;
  top: -5rem;
  --size: 500px;
  --speed: 30s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(#0eacf6, #fd60c0);
  animation: rotate var(--speed) var(--easing) alternate infinite, slide-up 0.7s ease-out;
  z-index: -99999;
}

.about-blob {
  position: absolute;
  right: -10%;
  top: 10%;
  --size: 500px;
  --speed: 30s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(#0eacf6, #fd60c0);
  animation: rotate var(--speed) var(--easing) alternate infinite, slide-up 0.7s ease-out;
  z-index: -99999;
  opacity: 0.7;
}

/* 3D CIRCLE TEST */

.glass-blob {
  position: absolute;
  left: 10%;
  width: 300px;
  height: 300px;
  animation: slide-up 0.5s ease-out, blob 10s linear alternate infinite, spin 20s alternate infinite;
  background: rgba(255, 255, 255, 0.082);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}


.work-title-blob {
  position: absolute;
  left: 10%;
  bottom: 25%;
  width: 300px;
  z-index: -2;
  filter: blur(2rem);
  fill: url(#my-cool-gradient2) #18d2d2;
  ;
  --amount: 5;
  --time: 40s;
}

.glass-blob-work {
  position: absolute;
  left: 10%;
  top: 25%;
  width: 380px;
  height: 380px;
  animation: slide-up 0.5s ease-out, blob 10s linear alternate infinite, spin 20s alternate infinite;
  background: rgba(255, 255, 255, 0.082);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}


.glass-blob-contact {
  position: absolute;
  left: 10%;
  top: 25%;
  width: 380px;
  height: 380px;
  animation: slide-up 0.5s ease-out, blob 10s linear alternate infinite, spin 20s alternate infinite;
  background: rgba(255, 255, 255, 0.082);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Animate Background */
.animate-bg {
  animation: slide-up 1s ease-out;
}