/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d0d07;
    color: white;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    overflow-y: hidden;
    /* bg */
    background-image: radial-gradient(rgba(255, 255, 255, 0.096) 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
}

/* TEXTS ----------------------------------------------------------------------------------------------------------------------------------------------------------*/
a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
    font-family: 'Poppins';
}

h1 {
    font-size: 4.75rem;
    font-family: 'Poppins', sans-serif;
}

h2 {
    /* font-size: 1.25rem; */
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

p {
    text-align: justify;
    line-height: 0.9cm;
    letter-spacing: 0.05rem;
}

li {
    list-style-type: none;
}

.hr-line:before {
    display: inline-block;
    content: "";
    border-top: .3rem solid #fd60c0;
    width: 2rem;
    margin: 0 1rem;
    transform: translateY(-0.25rem);
}

/* NAVIGATION ----------------------------------------------------------------------------------------------------------------------------------------------------------*/
nav {
    width: 85vw;
    display: flex;
    overflow: hidden;
    /* background-color: rgba(128, 0, 128, 0.253); */
    position: fixed;
    bottom: 0;
    padding: 1rem;
    z-index: 10000000;
}

.menu,
.socials,
.logo {
    margin: auto 0;
}


.logo img {
    width: 40px;
    height: auto;
    margin: 1rem 0 1rem 0;
    opacity: 0.6;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
}

.menu ul {
    display: flex;
    flex-direction: row;
    transform: translateX(2.05vw);
}

.menu ul li {
    padding: 0 1rem;
}

.socials ul {
    display: flex;
    /* justify-content: space-evenly; */
}

.socials ul li {
    margin: 0 0.5rem;
}

.socials i {
    font-size: 1.15rem;
}

a {
    position: relative;
    text-decoration: none;
}

nav a {
    opacity: 0.4;
}

a:hover {
    color: #18d2d2;
    opacity: 1;
}

a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #18d2d2;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a:hover::before {
    transform: scaleX(1);
}


/* SECTIONS ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

.scroll-wrap {
    width: 85vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll-wrap>* {
    /* width: 250px; */
    /* height: auto;
    flex: 0 0 auto;
    background-color: blue; */
}

section {
    display: flex;
    height: 100%;
}

section .column {
    display: flex;
    margin: 2rem;
    /* align-items: center; */
    justify-content: center;
}

section .left-side {
    flex: 40%;
    justify-content: center;
    vertical-align: center;
    height: auto;
}

section .right-side {
    flex: 60%;
}

section .title,
.content {
    margin-top: 10rem;
}

.home-section,
.about-section,
.contact-section,
/* .work-section, */
.workF-section
 {
    display: none;
}



/* SECTION 01: HOMEPAGE ----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.home-section {
    width: 100%;
    height: 100%;
}

.home-section .left-side {
    display: flex;
    flex: 75%
}

.home-section .right-side .content {
    display: flex;
    /* justify-content: center; */
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: -77px;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.5;
}


/* SECTION 02: ABOUT PAGE ----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.about-section {
    width: 100%;
    height: 100%;
}

.about-section .content p{
    border-top: 2px solid rgba(255, 255, 255, 0.473);
    margin-right: 5rem;
    max-width: 40vw;
    border-bottom: 2px solid rgba(255, 255, 255, 0.473);
}

.about-section .right-side {
    display: flex;
    justify-content: center;
}

.about-section .title {
    animation: slide-up 0.25s ease-out; 
}

.about-section .content{
    animation: slide-up 0.5s ease-out;
}

.tk-blob {
    animation: slide-up 1s ease-out;
}


/* SECTION 03: WORK PAGE ----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.work-section {
    width: 100%;
    height: 100%;

}

/* left side */
.work-section ul,
.contact-section ul {
    margin: 0.25rem 0 0 4rem;
}

.work-section ul li,
.contact-section ul li {
    line-height: 1.75rem;
}

.work-section ul li a,
.contact-section ul li a {
    font-family: "Raleway";
    font-size: 0.9rem;
}

/* RIGHT SIDE */
.work-section .right-side {
    /* Code from PQINA ------*/
    overflow-y: scroll;
    /* scroll bar width, for use in mask calculations */
    --scrollbar-width: 8px;

    /* mask fade distance, for use in mask calculations */
    --mask-height: 32px;

    /* Our height limit */
    height: 80vh;

    /* Need to make sure container has bottom space,
 otherwise content at the bottom is always faded out */
    padding-bottom: var(--mask-height);

    /* Keep some space between content and scrollbar */
    padding-right: 20px;

    /* The CSS mask */

    /* The content mask is a linear gradient from top to bottom */
    --mask-image-content: linear-gradient(to bottom,
            transparent,
            black var(--mask-height),
            black calc(100% - var(--mask-height)),
            transparent);
    /* End of code from Pqina ------ */

    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.work-section .right-side::-webkit-scrollbar {
    display: none;
}


.left-side {
    position: relative;
}


.gallery {
    border-left: 2px solid rgba(255, 255, 255, 0.473);
    border-right: 2px solid rgba(255, 255, 255, 0.473);
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0 2.5px;
    z-index: -10;
}

.gallery div img {
    width: 100%;
    opacity: 0.7;
}

.gallery div img:hover {
    opacity: 1;
}

.title-work {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0 0.5rem;
}

.title-work h1 {
    line-height: 90%;
}


/* SECTION 04: WORK FOCUSED PAGE ----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.workF-section {
    width: 100%;
    height: 100%;
}

.workF-section p {
    margin: 0 1rem;
}

.slideshow-container {
    margin-top: -1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slide {
    display: flex;
    justify-content: center;
}

.workF-section .slide img {
    max-height: 750px;
}

.dot-indicator {
    display: flex;
    justify-content: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 1rem 0.25rem;
    background-color: #646464;
    opacity: 0.6;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #fd60c0;
    opacity: 1;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* SECTION 05: CONTACT ----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.contact-section {
    width: 100%;
    height: 100%;
}

.contact-section .right-side {
    display: flex;
}

.contact-section img {
    /* max-width: 70%; */
    max-height: 450px;
}




